.AboutMe {
  height: 150vh;
  background-image: url('../Imagens/Captura\ de\ ecrã\ 2025-07-08\ 101321.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}