.AboutMe {
  width: 100%;
  min-height: 120vh;
  padding-top: 2%;
  font-family: 'Quicksand';
  position: relative;
  overflow: visible;
  background-color: hsl(228, 6%, 8%);
}

.container-aboutme {
  font-family: 'Quicksand';
  margin: 0 auto;
  justify-content: center;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 100%;
  height: auto;
  background-color: hsl(228, 6%, 8%);
  border-radius: 0.6rem;
}

.texto {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50vh;
  padding: 5rem;
}

.cv-button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.cv-button a {
  text-decoration: none;
}

.download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;   
  overflow: hidden;   
  width: clamp(5vh, calc(2vw + 15vh), 20vh);
  height: clamp(2vh, calc(2vw + 3vh), 5vh);
  background-color: #D9AD5B; 
  border: 0.1vh solid #D9AD5B;     
  border-radius: 0.2vh;
  font-family: 'Quicksand';
  font-size: clamp(1vh, calc(1vw + 0.5vh), 1.5vh);
  color: white;
  transition: all 0.5s ease;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform: scale(1);
}

.download-cv:hover {
  color: #ffffff;
  border: 0.25vh solid white;
  background-color: #d9ad5bf6;
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.download-cv i {
  font-size: clamp(1vh, calc(1vw + 0.5vh), 1.5vh);
  color: white;
  transition: color 0.4s ease;
}

.download-cv .dw-anim {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 6.6vh;
}

.download-cv:hover .dw-anim{
  animation: change 0.75s;
}

@keyframes change {
  0% { transform: translateY(0); } 
  100% { transform: translateY(6.5vh); }
}

.download-cv span {
  padding-right: 0.5vh;
}

.imgpc {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 2rem;
  justify-self: center;
  align-self: center;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.aboutTitle {
  color: #D9AD5B;
  font-size: clamp(3vh, calc(4vw + 0.5rem), 5rem);
  display: flex;
  justify-content: center;
}

.subTitle {
  font-size: clamp(1vh, calc(2vw + 0.4rem), 1.5rem);
  font-weight: bolder;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
}

.paragraph {
  margin: 1rem 0;
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
  color: rgb(255, 255, 255);
}

.container-list {
  padding-top: 4%;
}

.description {
  font-size: clamp(0.4rem, calc(1vw + 0.7rem), 1.5rem);
  color: rgb(255, 255, 255);
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.pontos {
  color: #e0ab47;
}

.tag-list {
  width: 50rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2%;
}

.inner {
  width: max-content;
  display: flex;
  gap: 1.5rem;
  animation: loop 20s linear infinite;
}

.tag {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem; 
  border-radius: 0.4rem;
}

.tag img {
  width: 4.5rem; 
  height: auto;
}

@media (max-width: 1300px) {
  .AboutMe {
    padding-top: 10%;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    gap: 5rem;
  }

  .imgpc {
    display: none;
  }
}

@media (max-width: 850px) {
  .tag img {
    width: 3rem; 
    height: auto;
  }

  .tag-list {
    width: 50rem;
  }

  .inner {
    width: max-content;
    display: flex;
    gap: 0.75rem;
    animation: loop 20s linear infinite;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    gap: 5rem;
  }

  .imgpc {
    display: none;
  }

  .aboutTitle {
    font-size: clamp(3vh, calc(2vw + 0.5rem), 3rem);
  }

  .subTitle {
    margin: 1vh 0;
    font-size: clamp(1vh, calc(2vw + 0.4rem), 3vh);
  }

  .paragraph {
    margin: 3vh 0;
    font-size: clamp(0.5vh, calc(1vw + 0.5rem), 2vh);
  }

  .description {
    font-size: clamp(0.4vh, calc(1vw + 0.7rem), 3vh);
  }

  .texto {
    padding: 5vh;
  }
}

@media (max-width : 800px) {
  .tag img {
    width: 7vh; 
    height: auto;
  }

  .tag-list {
    max-width: 50%;
  }

  .inner {
    width: max-content;
    display: flex;
    gap: 0.1vh;
    animation: loop 20s linear infinite;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    gap: 5rem;
    display: flex;
    justify-content: center;
  }

  .imgpc {
    display: none;
  }
}

@media (min-width: 2500px) {
    .download-cv { 
    width: clamp(5rem, calc(2vw + 15rem), 15rem);
    height: clamp(2rem, calc(2vw + 3rem), 3rem);
    font-size: clamp(1rem, calc(1vw + 0.5rem), 1rem);
  }

  .download-cv i {
    font-size: clamp(1rem, calc(1vw + 0.5rem), 1rem);
  }
}

.inner:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.fade {
  position: absolute;
  background: linear-gradient(90deg, hsl(228, 6%, 8%), transparent 30%, transparent 70%, hsl(228, 6%, 8%));
  inset: 0;
  pointer-events: none;
}



@keyframes loop {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}


