.AboutMe {
  width: 100%;
  min-height: 100vh;
  padding-top: 2%;
  font-family: 'Quicksand';
  width: 100%;
  position: relative;
  overflow: visible;
  background-color: #1f1f1f;
}

.container-aboutme {
  font-family: 'Quicksand';
  margin: 0 auto;
  justify-content: center;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  position: relative;
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
  border-radius: 0.6rem;
}

.texto {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
  padding: 5rem;
}

.imgpc {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 2rem;
  justify-self: center;
  align-self: center;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.aboutTitle {
  color: #D9AD5B;
  font-size: clamp(3rem, calc(4vw + 0.5rem), 5rem);
  display: flex;
  justify-content: center;
}

.subTitle {
  font-size: clamp(1rem, calc(2vw + 0.4rem), 1.5rem);
  font-weight: bolder;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
}

.paragraph {
  margin: 1rem 0;
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
  color: rgb(255, 255, 255);
}

.container-list {
  padding-top: 4%;
}

.description {
  font-size: clamp(0.4rem, calc(1vw + 0.7rem), 1.5rem);
  color: rgb(255, 255, 255);
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.pontos {
  color: #e0ab47;
}

.tag-list {
  width: 50rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2%;
}

.inner {
  width: max-content;
  display: flex;
  gap: 1.5rem;
  animation: loop 20s linear infinite;
}

.tag {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem; 
  border-radius: 0.4rem;
}

.tag img {
  width: 4.5rem; 
  height: auto;
}

@media (max-width: 1300px) {
  .AboutMe {
    padding-top: 10%;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .imgpc {
    display: none;
  }
}

@media (max-width: 850px) {
  .tag img {
    width: 3rem; 
    height: auto;
  }

  .tag-list {
    width: 25rem;
  }

  .AboutMe {
    padding-top: 10%;
  }

  .paragraph {
    padding-top: 0%;
  }

  .inner {
    width: max-content;
    display: flex;
    gap: 0.75rem;
    animation: loop 20s linear infinite;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .imgpc {
    display: none;
  }
}

@media (max-width: 480px) {
  .tag img {
    width: 2rem; 
    height: auto;
  }

  .tag-list {
    width: 15rem;
  }

  .inner {
    width: max-content;
    display: flex;
    gap: 0.5rem;
    animation: loop 20s linear infinite;
  }

  .container-aboutme {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .imgpc {
    display: none;
  }
}

.inner:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.fade {
  position: absolute;
  background: linear-gradient(90deg, #1f1f1f, transparent 30%, transparent 70%, #1f1f1f);
  inset: 0;
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}


