.Experience {
    width: 100%;
    min-height: 100vh;
    background-color: #1f1f1f;
    padding-top: 10vh;
    font-family: 'Quicksand';
}

.experienceTitle {
    background: linear-gradient(135deg, #D9AD5B 40%, #f0d094 100%);
    background-clip: text;
    color: transparent;
    font-size: clamp(3vh, calc(4vw + 0.5rem), 5rem);
    display: flex;
    justify-content: center;
}

.container-experience {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 0.1vh solid transparent;
    padding: 10vh;
    max-width: 100%;
    height: auto;
    gap: 5vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50vh;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container-experience .experience-item {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    border-radius: 0.2em;
    width: 100%;
    padding: 5%;
    margin: 1%;
    color: white;
    transition: all 0.3s ease;
}

.experience-item h3 {
    font-size: clamp(2vh, calc(3vw + 1vh), 3.5vh);
    background: linear-gradient(135deg, #D9AD5B 50%, #ecd6ac 100%);
    background-clip: text;
    color: transparent;
    padding-bottom: 3vh;
    max-width: 100%;
    text-align: center;
}

.experience-item .experience-company{
    font-size: clamp(1vh, calc(2vw + 0.5rem), 2vh);
    padding-bottom: 2vh;
    max-width: 100%;
    font-weight: 600;
}

.experience-item .experience-duration{
    font-size: clamp(1vh, calc(2vw + 1vh), 1.5vh);
    padding-bottom: 2vh;
    max-width: 100%;
}

.experience-item .experience-description{
    font-size: clamp(1vh, calc(2vw + 0.5rem), 1.75vh);
    padding-bottom: 2vh;
    max-width: 100%;
}

.container-experience .experience-item:hover {
    border: 0.1vh solid white;
    transform: scale(1.05);
    background-color: #333333;
}

@media (max-width: 1200px) {
    .container-experience {
        grid-template-columns: repeat(2, 1fr);
        padding: 5vh;
    }

    .experience-item {
        margin: 2vh 0;
    }
}

@media (max-width: 768px) {
    .container-experience {
        grid-template-columns: repeat(1, 1fr);
        padding: 5vh;
    }

    .experienceTitle {
        font-size: clamp(3vh, calc(2vw + 0.5rem), 3rem);
    }

    .experience-item {
        margin: 2vh 0;
    }
}