.footer {
    width: 100%;
    min-height: 50vh;
    background-image: url('../Imagens/footer.png');
    background-size: cover;
    background-position: center;
    padding-top: 10vh;
    font-family: 'Quicksand';
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-container p {
    font-size: clamp(1.5vh, calc(1vw + 0.5vh), 2vh);
    margin: 1vh 0;
}

.footer-container h1 {
    font-size: clamp(2vh, calc(1.5vw + 1vh), 5vh);
    margin: 2vh 0;
}

.footer-icons {
  position: relative;
  display: flex;
  gap: 1vh;
  list-style: none;
  transition: all 0.3s ease;
  margin: 2vh 0;
}

.footer-icons a {
  display: flex;
  align-items: center;  
  justify-content: center;  
  color: white;
  border: 0.1vh solid white;
  border-radius: 100%;            
  width: 5vh;           
  height: 5vh;  
  text-decoration: none;
  font-size: 3vh;
  transition: transform 0.3s ease;
}

.footer-icons a::after {
  content: "";
  color: white;
  position: absolute;
  font-size: 1.5vh;
  font-family: 'Quicksand';
  font-weight: 500;
  bottom: -2vh;
  transition: all 0.3s ease;
  animation: fadeText 0.3s ease;
  opacity: 0;
}

.footer-icons .gh:hover::after {
  content: 'GitHub';
  opacity: 1;
}

.footer-icons .ml:hover::after {
  content: 'Gmail';
  opacity: 1;
}

.footer-icons .ld:hover::after {
  content: 'LinkedIn';
  opacity: 1;
}

.footer-icons a:hover {
  background-color: #1f1f1f;
  color: #D9AD5B;
  border-color: transparent;
  transform: translateY(-1vh);
}

.footer-container .credits-text {
    font-size: clamp(1.5vh, calc(2vw + 1vh), 2vh);
    text-align: center;
    margin-top: 2vh;
}

.footer-credits {
    font-size: clamp(1.5vh, calc(2vw + 1vh), 2vh);
    text-align: center;
    padding-bottom: 2vh;
}

.footer-button {
  position: relative;
  display: flex;
  gap: 1vh;
  list-style: none;
  transition: all 0.3s ease;
  margin: 2vh 0;
  justify-content: right;
  margin-right: 5vh;
}

.footer-button a {
  display: flex;
  align-items: center;  
  justify-content: center;  
  color: white;
  border: 0.1vh solid white;
  border-radius: 100%;            
  width: 5vh;           
  height: 5vh;  
  text-decoration: none;
  font-size: 3vh;
  transition: transform 0.3s ease;
}

.footer-button a::after {
  content: "";
  color: white;
  position: absolute;
  font-size: 1.5vh;
  font-family: 'Quicksand';
  font-weight: 500;
  bottom: -2vh;
  transition: all 0.3s ease;
  animation: fadeText 0.3s ease;
  opacity: 0;
}

.footer-button a:hover {
  background-color: #1f1f1f;
  color: #D9AD5B;
  border-color: transparent;
  transform: translateY(-1vh);
}