.HeroPage {
  min-height: 110vh;
  background-color: #1f1f1f;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10rem;
  overflow: hidden;
}

.cor_span {
  color: #D9AD5B;
}

.container {
  flex: 1;
  color: rgb(0, 0, 0);
  max-width: 800px;
  height: auto;
  font-family: 'Quicksand';
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.container p {
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
  margin: 1rem 0;
  color: white;
}

.container .software {
  background: linear-gradient(135deg, #D9AD5B 60%, #e7c482 100%);
  background-clip: text;
  color: transparent;
}

.container .fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;   
  white-space: nowrap;
  animation:
    typing 1.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(0, 0, 0); }
}

.hero_container {
  display: flex;
  justify-self: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
}

.h2_apresentation {
  font-size: clamp(1.65rem, calc(3vw + 0.5rem), 2.5rem);
  color: white;
}

.h1_apresentation {
  color: white;
  font-size: clamp(2.8rem, calc(4vw + 0.5rem), 5rem);
}

.my_img {
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.animbar {
  display: inline-block;
  width: 2px;           
  height: clamp(2.8rem, calc(4vw + 0.5rem), 5rem);         
  background-color: rgba(255, 255, 255, 0.699);
  animation: blink 1s step-start infinite;
  vertical-align: bottom;
  font-family: 'Quicksand';
  margin-left: 2px;
  margin-bottom: 5px;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

.button-row {
  display: flex;
  align-items: center;  
  gap: 7rem;            
  margin-top: 7rem;       
}

.discoverWrapper {
  display: flex;
  flex-direction: line;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  position: relative;
  cursor: pointer;
}

.discoverWrapper:hover .arrow {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}

.arrow {
  font-size: clamp(1rem, calc(1vw + 1rem), 2rem);
  padding-bottom: 2%;
  color: white;
}

.underline {
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #D9AD5B;
  border-radius: 2px;
  transition: width 0.4s ease, left 0.4s ease;
  z-index: 0;
}

.discoverWrapper:hover .underline {
  width: 100%;
  left: 0;
}

.aboutmeButton {
  position: relative;   
  overflow: hidden;   
  width: clamp(13rem, calc(1vw + 11rem), 13rem);
  height: 3rem;
  background-color: #D9AD5B; 
  border: none;     
  border-radius: 25px;
  font-family: 'Quicksand';
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.25rem);
  color: white;             
  transition: color 0.5s ease;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.4s ease, color 0.4s ease;
}

.aboutmeButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 100%;
  background-color: rgb(245, 245, 245);  
  transition: width 0.4s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.aboutmeButton:hover::before {
  width: 100%;
}

.aboutmeButton span {
  position: relative; 
  z-index: 1;
}

.aboutmeButton:hover {
  color: #D9AD5B;
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.hero_container .my_img {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeIMG 1s ease-out forwards;
}

@keyframes fadeIMG {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .HeroPage {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }
  
  .my_img {
    display: none;
  }

  .container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .button-row {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 1.5rem;
  }
}