html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FS {
  display: inline-block;
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: clamp(1.1rem, calc(1vw + 0.5rem), 1.8rem);
  font-weight: bold;
  transition: transform 0.4s ease, color 0.4s ease;
  overflow: hidden;
  text-decoration: none;
}

.FS:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.seta {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  min-height: 10vh;
  z-index: 1000;
  background-color: rgba(39, 39, 39, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4%;
}

.itens_nav a::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 0;
  top: 1.5rem;
  left: 0;
  background-color: #D9AD5B;
  transition: all 0.3s ease;
}

.itens_nav a:hover::after {
  width: 100%;
}

.itens_nav a.active{
  color: #D9AD5B;
}

.right {
  display: flex;
  gap: 3.5rem;
}

.itens_nav ul {
  display: flex;
  padding-top: 0.5rem;
  gap: 5rem; 
  list-style: none;
}

.itens_nav li {
  color: #ffffff;
  font-family: 'Quicksand';
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.2rem);
  font-weight: 600;
}

.itens_nav a {
  color: white;  
  text-decoration: none;
  position: relative;
}

.icons {
  position: relative;
  display: flex;
  gap: 0.7rem;
  list-style: none;
}

.icons a {
  display: flex;
  align-items: center;  
  justify-content: center;  
  color: white;
  border: 1px solid white;
  border-radius: 100%;            
  width: 2.5rem;           
  height: 2.5rem;  
  text-decoration: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.icons a::after {
  content: "";
  color: white;
  position: absolute;
  font-size: 0.9rem;
  font-family: 'Quicksand';
  font-weight: 500;
  bottom: -1.3rem;
  transition: all 0.3s ease;
  animation: fadeText 0.3s ease;
  opacity: 0;
}

.icons .gh:hover::after {
  content: 'GitHub';
  opacity: 1;
}

.icons .ml:hover::after {
  content: 'Gmail';
  opacity: 1;
}

.icons .ld:hover::after {
  content: 'LinkedIn';
  opacity: 1;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icons a:hover {
  transform: translateY(-5px);
  background-color: #D9AD5B;
  border-color: #D9AD5B;
  color: #1f1f1f;
}

.dividor {
  position: fixed;
  top: 5rem;               
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background-color: #D9AD5B;
  border: none;
}

.menu-responsive {
  display: none;
}

@media (max-width: 1280px) {
  .itens_nav ul {
    gap: 3rem; 
  }

  .right {
    gap: 3rem;
  }

  .icons a {
    width: 2rem;           
    height: 2rem;
    font-size: 1.2rem;
  }

  .itens_nav ul {
    padding-top: 0.2rem;
  }

  .icons a::after {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .itens_nav ul {
    gap: 2rem; 
  }

  .right {
    gap: 2rem;
  }

  .icons a {
    width: 2rem;           
    height: 2rem;
    font-size: 1.2rem;
  }

  .itens_nav ul {
    padding-top: 0.3rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    box-sizing: border-box;
    background-color: rgba(39, 39, 39, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 49.5vw;
    min-width: 220px;
    max-width: 400px;
    height: 100%;
    border-right: 1px solid rgb(82, 82, 82);
    margin: 0;
    padding: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    left: -500px;
  }

  .navbar.active {
    left: 0;
  }

  .left {
    position: relative;
    display: flex;
    justify-content: row;
    height: 10%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .itens_nav a {
    flex-direction: column;
  }

  .itens_nav li {
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
  }

  .itens_nav li:hover {
    background-color: rgba(63, 63, 63, 0.8);
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 80%;
    margin-left: 1.75rem;
  }

  .itens_nav a:hover {
    color: #D9AD5B;
  }

  .right .itens_nav ul{
    flex-direction: column;
    padding-top: 5%;
    gap: 0.5rem; 
  }

  .right .itens_nav li {
    height: 55px;
    display: flex;
    align-items: center;
  }

  .right .itens_nav li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
    height: 100%;
  }

  .itens_nav a:hover::after {
    width: 0%;
  }

  .right .icons {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  .right .icons::before {
    content: "Contacts:";
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Quicksand';
    font-size: 1rem;
    color: #D9AD5B;
    font-weight: 600;
  }

  .FS {
    position: relative;
    color: #D9AD5B;
    padding-left: 2vh;
    padding-top: 3.75vh;
    font-size: clamp(1rem, calc(1vw + 0.5rem), 1.8rem);
  }

  .seta {
    display: block;
    justify-self: right;
    padding-top: 3vh;
    font-size: 2rem;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .seta:hover {
    color: #D9AD5B;
  }

  .left::after {
    content: "";
    width: 49.5vw;
    min-width: 220px;
    max-width: 400px;
    height: 1px;
    background-color: #D9AD5B;
    position: absolute;
    bottom: 0rem;
  }

  .menu-responsive {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2001;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-responsive i:hover {
    color: #D9AD5B;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #D9AD5B;
}

::-webkit-scrollbar-thumb:hover {
  background: #d39a31;
}


