html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FS {
  display: inline-block;
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.8rem);
  font-weight: bold;
  position: absolute;
  transition: transform 0.4s ease, color 0.4s ease;
  overflow: hidden;
}

.FS:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 10vh;
  z-index: 1000;
  background-color: rgba(39, 39, 39, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4%;
  border-bottom: 3px solid rgba(230, 230, 230, 0.199)
}

nav a:hover {
  border-bottom: 0.2rem solid #D9AD5B;
  padding-bottom: 10px;
}

nav a.active{
  color: #D9AD5B;
  border-bottom: 0.2rem solid #D9AD5B;
  padding-bottom: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.itens_nav ul {
  display: flex;
  gap: 5rem; 
  list-style: none; 
  margin: 0;
  padding: 0;
  right: 0;
}

.itens_nav li {
  color: #ffffff;
  font-family: 'Quicksand';
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1.2rem);
  font-weight: 600;
}

.itens_nav a {
  color: inherit;  
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 0.7rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons img {
  width: clamp(1.3rem, calc(1vw + 0.5rem), 2rem);; 
  height: auto;  
}

.icons a {
  display: inline-block; 
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: translateY(-5px); 
}

.dividor {
  position: fixed;
  top: 5rem;               
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background-color: #D9AD5B;
  border: none;
}

@media (max-width: 1280px) {
  .itens_nav ul {
    gap: 3rem; 
  }

  .right {
    gap: 3rem;
  }
}

@media (max-width: 1024px) {
  .itens_nav ul {
    gap: 2rem; 
  }

  .right {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .itens_nav ul {
    gap: 2rem; 
  }

  .right {
    gap: 2rem;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #D9AD5B;
}

::-webkit-scrollbar-thumb:hover {
  background: #d39a31;
}


