html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FS {
  display: inline-block;
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: 30px;
  font-weight: bold;
  position: relative;
  transition: transform 0.4s ease, color 0.4s ease;
  overflow: hidden;
}

.FS:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  background-color: rgba(250, 249, 249, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4%;
  border-bottom: 3px solid rgba(230, 230, 230, 0.199)
}

nav a:hover,
nav a.active{
  color: #D9AD5B;
  border-bottom: 3px solid #D9AD5B;
  padding-bottom: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.itens_nav ul {
  display: flex;
  gap: 5rem; 
  list-style: none; 
  margin: 0;
  padding: 0;
}

.itens_nav li {
  color: #000000;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
}

.itens_nav a {
  color: inherit;  
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 0.7rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons img {
  width: 30px; 
  height: auto;  
}

.icons a {
  display: inline-block; 
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: translateY(-5px); 
}

.dividor {
  position: fixed;
  top: 5rem;               
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background-color: #D9AD5B;
  border: none;
}


