html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FS {
  display: inline-block;
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: clamp(1vh, calc(5vw + 1vh), 2.5vh);
  font-weight: bold;
  transition: transform 0.4s ease, color 0.4s ease;
  overflow: hidden;
  text-decoration: none;
}

.FS:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.seta {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  min-height: 8vh;
  z-index: 1000;
  background-color: rgba(39, 39, 39, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4%;
}

.itens_nav a::after {
  content: "";
  position: absolute;
  height: 0.1vh;
  width: 0;
  top: 2.5vh;
  left: 0;
  background-color: #D9AD5B;
  transition: all 0.3s ease;
}

.itens_nav a:hover::after {
  width: 100%;
}

.itens_nav a.active{
  color: #D9AD5B;
}

.right {
  display: flex;
  gap: 3.5vh;
}

.itens_nav ul {
  display: flex;
  padding-top: 1vh;
  gap: 5vh; 
  list-style: none;
}

.itens_nav li {
  color: #ffffff;
  font-family: 'Quicksand';
  font-size: clamp(1vh, calc(1vw + 0.5vh), 2vh);
  font-weight: 600;
}

.itens_nav a {
  color: white;  
  text-decoration: none;
  position: relative;
}

.icons {
  position: relative;
  display: flex;
  gap: 1vh;
  list-style: none;
}

.icons a {
  display: flex;
  align-items: center;  
  justify-content: center;  
  color: white;
  border: 0.1vh solid white;
  border-radius: 100%;            
  width: 5vh;           
  height: 5vh;  
  text-decoration: none;
  font-size: 3vh;
  transition: transform 0.3s ease;
}

.icons a::after {
  content: "";
  color: white;
  position: absolute;
  font-size: 1.5vh;
  font-family: 'Quicksand';
  font-weight: 500;
  bottom: -2vh;
  transition: all 0.3s ease;
  animation: fadeText 0.3s ease;
  opacity: 0;
}

.icons .gh:hover::after {
  content: 'GitHub';
  opacity: 1;
}

.icons .ml:hover::after {
  content: 'Gmail';
  opacity: 1;
}

.icons .ld:hover::after {
  content: 'LinkedIn';
  opacity: 1;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icons a:hover {
  transform: translateY(-1vh);
  background-color: #D9AD5B;
  border-color: #D9AD5B;
  color: #1f1f1f;
}

.dividor {
  position: fixed;
  top: 5rem;               
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background-color: #D9AD5B;
  border: none;
}

.menu-responsive {
  display: none;
}

@media (max-width: 1280px) {
  .itens_nav ul {
    padding-top: 1vh;
  }

  .icons a::after {
    font-size: 1.5vh;
  }
}

@media (max-width: 1024px) {
  .itens_nav ul {
    padding-top: 1vh;
  }
}

@media (max-width: 768px) {
  .navbar {
    box-sizing: border-box;
    background-color: rgba(39, 39, 39, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70vw;
    max-width: 100vh;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 0.1vh solid rgb(82, 82, 82);
    margin: 0;
    padding: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    left: -800px;
  }

  .navbar.active {
    left: 0;
  }

  .left {
    position: relative;
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .itens_nav a {
    flex-direction: column;
  }

  .itens_nav li {
    transition: all 0.3s ease;
    width: 100%;
  }

  .itens_nav li:hover {
    background-color: rgba(63, 63, 63, 0.8);
    transition: all 0.3s ease;
    width: 100%;
  }

  .itens_nav a:hover {
    color: #D9AD5B;
  }

  .right .itens_nav ul{
    flex-direction: column;
    padding-bottom: 35vh;
    gap: 0.5vh; 
  }

  .right .itens_nav li {
    height: 9vh;
    display: flex;
    align-items: center;
  }

  .right .itens_nav li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 4vh;
    height: 100%;
    font-size: clamp(2.5vh, calc(1vw + 0.5vh), 5vh);
  }

  .itens_nav a:hover::after {
    width: 0%;
  }

  .right .icons {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-bottom: 5vh;
  }

  .icons a {
    font-size: clamp(3vh, calc(1vw + 0.5vh), 5vh);
    height: clamp(5vh, calc(1vw + 0.5vh), 7vh);
    width: clamp(5vh, calc(1vw + 0.5vh), 7vh);
    border: clamp(0.1px, calc(1px + 0.5px), 0.1px) solid white;
  }

  .icons a::after {
    font-size: clamp(2vh, calc(1vw + 0.5vh), 2vh);
    bottom: -3vh;
  }

  .right .icons::before {
    content: "Contacts:";
    position: absolute;
    top: -6vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Quicksand';
    font-size: clamp(2vh, calc(2vw + 1vh), 3vh);
    color: #D9AD5B;
    font-weight: 600;
  }

  .FS {
    color: #D9AD5B;
    padding-left: 2vh;
    padding-top: 4vh;
    padding-bottom: 5vh;
    font-size: clamp(2.5vh, calc(1vw + 0.5vh), 5vh);
  }

  .seta {
    display: block;
    font-size: clamp(4vh, calc(3vw + 1vh), 7vh);
    padding-right: 2vh;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .seta:hover {
    color: #D9AD5B;
  }

  .left::after {
    content: "";
    width: 70vw;
    height: 0.1vh;
    background-color: #D9AD5B;
    position: absolute;
    bottom: 0rem;
  }

  .menu-responsive {
    display: block;
    position: fixed;
    top: 2vh;
    left: 2vh;
    z-index: 2001;
    font-size: 5vh;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-responsive i:hover {
    color: #D9AD5B;
  }
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #D9AD5B;
}

::-webkit-scrollbar-thumb:hover {
  background: #d39a31;
}


