body {
  background-image: url(../Imagens/MainPage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 10%;
}

.FS {
  display: inline-block;
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: 30px;
  font-weight: bold;
  position: relative;
  transition: transform 0.4s ease, color 0.4s ease;
  overflow: hidden;
}

.FS:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, color 0.4s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 92%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4%;
}

nav a:hover,
nav a.active{
  color: white;
  border-bottom: 3px solid rgb(201, 201, 201);
}

.right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.itens_nav ul {
  display: flex;
  gap: 5rem; 
  list-style: none; 
  margin: 0;
  padding: 0;
}

.itens_nav li {
  color: #D9AD5B;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 500;
}

.itens_nav a {
  color: inherit;  
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 0.7rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons img {
  width: 30px; 
  height: auto;  
}

.icons a {
  display: inline-block; 
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: translateY(-5px); 
}

.dividor {
  position: fixed;
  top: 5rem;               
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background-color: #D9AD5B;
  border: none;
}


