.Projects {
    width: 100%;
    min-height: 140vh;
    background-color: #1f1f1f;
    padding-top: 10vh;
    font-family: 'Quicksand';
}

.projectsTitle {
    background: linear-gradient(135deg, #D9AD5B 40%, #f0d094 100%);
    background-clip: text;
    color: transparent;
    font-size: clamp(3rem, calc(4vw + 0.5rem), 5rem);
    display: flex;
    justify-content: center;
}

.container-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0.1vh solid transparent;
    padding: 10vh;
    max-width: 100%;
    height: auto;
    gap: 5vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50vh;
}

.container-projects .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2c2c2c;
    border: 0.1vh solid transparent;
    border-radius: 0.2em;
    width: 100%;
    padding: 5%;
    margin: 1%;
    color: white;
    transition: all 0.3s ease;
}

.container-projects .project-item:hover {
    border: 0.1vh solid white;
    transform: scale(1.05);
    background-color: #333333;
}
.project-item .project-title{
    font-size: clamp(1vh, calc(3vw + 1vh), 4vh);
    color: #D9AD5B;
    padding-bottom: 4vh;
    align-items: center;
    font-weight: 600;
    max-width: 100%;
    text-align: center;
}

.project-item .project-description{
    font-size: clamp(1vh, calc(2vw + 0.5vh), 1.9vh);
    max-width: 100%;
}

.project-item .project-link{
    font-size: clamp(1vh, calc(2vw + 0.5vh), 1.5vh);
    padding-bottom: 2vh;
    max-width: 100%;
}

.project-link a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.project-link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.1vh;
    background-color: #D9AD5B;
    border-radius: 2px;
    transition: width 0.4s ease, left 0.4s ease;   
}

.project-link a:hover::after {
    width: 100%;
    left: 0;
}

.content-proj {
    flex: 1;
    margin-bottom: 5rem;
}

.project-link i {
    color: white;
    font-size: clamp(1vh, calc(2vw + 0.5vh), 1.5vh);
    margin-left: 0.5vh;
    transition: all 0.3s ease;
}

.project-link:hover a{
    color: #D9AD5B;
}

.project-link:hover i {
    color: #D9AD5B;
}

@media (max-width: 1600px) {
    .container-projects {
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
    }

    .project-item {
        margin: 2%;
    }
}

@media (max-width: 1200px) {
    .container-projects {
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
    }

    .project-item {
        margin: 2%;
    }
}

@media (max-width: 768px) {
    .container-projects {
        grid-template-columns: repeat(1, 1fr);
        padding: 5vh;
    }

    .projectsTitle {
        font-size: clamp(3vh, calc(2vw + 0.5rem), 3rem);
    }

    .project-item {
        margin: 2vh 0;
    }
}
